# Dependencies
node_modules/

# Builds
dist/
build/
.vercel/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Docs
*.md
!README.md

# Editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#old project
old/
implement.txt